key "{{ dns_key_name_internal }}" {
	algorithm "{{ dns_key_algorithm }}";
	secret "{{ dns_key_secret_internal }}";
};

key "{{ dns_key_name_external }}" {
	algorithm "{{ dns_key_algorithm }}";
	secret "{{ dns_key_secret_external }}";
};


acl askers   { any; };
acl updaters { any; };
acl trusted  { !key {{ dns_key_name_external }}; key {{ dns_key_name_internal }}; 192.168.100.0/24; localhost; };
acl guests   { !key {{ dns_key_name_internal }}; key {{ dns_key_name_external }}; 9.0.0.0/8; };

options
{
	directory 		"/var/named";
	listen-on port 53	{ any; };
	forwarders {
{% for server in public_dns_servers.split(',') %}
		{{ server }};
{% endfor %}
	};
	recursion yes;
	allow-query		{ askers; };
	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
	managed-keys-directory "/var/named/dynamic";
};


view "trusted" {
	match-clients { trusted; };
	zone {{ forward_zone }} {
		type master;
		file "/var/named/db.{{ forward_zone }}" ;
		allow-update { key {{ dns_key_name_internal }}; };
		notify yes;
		forwarders {};
	};

	zone {{ reverse_zone }} {
		type master;
		file "/var/named/db.{{ reverse_zone }}";
		allow-update { key {{ dns_key_name_internal }}; };
		notify yes;
		forwarders {};
	};
};

view "guests" {
	match-clients { guests; };
	zone {{ forward_zone }} {
		type master;
		file "/var/named/db.external.{{ forward_zone }}" ;
		allow-update { key {{ dns_key_name_external }}; };
		notify yes;
		forwarders {};
	};
	zone {{ reverse_zone }} {
		type master;
		file "/var/named/db.external.{{ reverse_zone }}";
		allow-update { key {{ dns_key_name_external }}; };
		notify yes;
		forwarders {};
	};
};